@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Saira:wght@200&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    background-color: #EDF0F2;
}

a {
    color:#39a2d6;
    text-decoration: none;
}

p {
    font-size: 18px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
}

h4 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    padding-left: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.block_left {
    transition: padding 1s ease-out, width 1s ease-out;
    width: 75%;
    padding: 0 20px;
}

.box_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 250px;
    color: rgb(70, 70, 70);
    background: rgb(144, 144, 144);
    background: linear-gradient(90deg, rgba(144, 144, 144, 0.6671043417366946) 0%,
            rgba(255, 188, 95, 0.44021358543417366) 50%, rgba(29, 253, 247, 0.16010154061624648) 96%);
}

.name {
    transition: margin 1s ease-out, font-size 1s ease-out;
}

.name:after {
    display: block;
    position: relative;
    content: "";
    height: 4px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 10px;
    bottom: 0;
    transition: width 1.5s;
    background-color: #5A5B5C;
}

.mini_box_name {
    display: none;
}

.mini_name {
    display: none;
}

.mini_position {
    display: none;
}

.position {
    transition: font-size 1s;
    font-size: 20px;
    margin: 0;
}

.about_wrap {
    padding: 8px;
}

.about_title {
    width: 100%;
    padding: 10px 0;
    margin: 8px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: rgb(187, 187, 187);
    background: linear-gradient(90deg, rgba(187, 187, 187, 0.8547794117647058) 0%,
            rgba(255, 175, 104, 0.44861694677871145) 100%);
}

.from_title {
    margin: 10px 0;
    font-size: 20px;
}

.title {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(70, 70, 70);
    font-weight: 600;
    background: linear-gradient(90deg, rgba(187, 187, 187, 0.8547794117647058) 0%,
            rgba(255, 175, 104, 0.44861694677871145) 100%);
}

.active,
.title:hover {
    background-color: #f0d7b4;
}

.content {
    padding: 8px;
    margin: 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: all 1.8s ease-in-out;
}

/*-----------------------------------------------Block Right-----------------------------*/
.block_right {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
    padding: 20px;
    transition: padding 0.8s, width 0.8s;
    box-shadow: 0 0 10px 2px inset #CECECE;
    background: rgb(187, 187, 187);
    background: radial-gradient(circle, rgba(187, 187, 187, 0.7259278711484594) 55%, rgba(104, 253, 255, 0.2721463585434174) 100%);
}

.box_photo {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.photo {
    width: 100%;
    border-radius: 50%;
}

.list_info {
    transition: padding 0.8s ease-out, width 0.8s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    list-style: none;
}

.box_infomation {
    padding: 5px;
    align-content: center;
}

.info_title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff
}

.box_title {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
}

.box_title:active,
.box_title:hover {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 50%, rgba(104, 254, 255, 0.19931722689075626) 100%);
}

.content_skills {
    display: none;
    overflow: hidden;
    transition: all 1.8s ease-in-out;
}

object {
    margin-right: 5px;
}